<section class="faq">
  <div class="container">
    <h2>Часто задаваемые вопросы</h2>
    <div class="faqList">
      <hr id="0" />
      <section class="faqOpen" id="0">
        <p id="0">
          <b id="0">Из чего формируется конечная стоимость проекта?</b>
        </p>
        <button id="0">
          <img alt="open-img" src="../img/svg/open-btn.svg" id="0" />
        </button>
      </section>
      <section class="open-text" id="0">
        <p>
          Являясь всего лишь частью общей картины, непосредственные участники
          технического прогресса призывают нас  к новым свершениям, которые,
          в свою очередь, должны быть своевременно верифицированы.
          Но высококачественный прототип будущего проекта является качественно
          новой ступенью первоочередных требований. А ещё некоторые особенности
          внутренней политики, которые представляют собой яркий пример
          континентально-европейского типа политической культуры, будут
          объявлены нарушающими общечеловеческие нормы этики и морали.
          И нет сомнений, что явные признаки победы институционализации
          призывают нас к новым свершениям, которые, в свою очередь, должны быть
          указаны как претенденты на роль ключевых факторов.
        </p>
        <p>
          Приятно, граждане, наблюдать, как некоторые особенности внутренней
          политики могут быть призваны к ответу. Явные признаки победы
          институционализации набирают популярность среди определённых слоёв
          населения, а значит, должны быть объединены в целые кластеры себе
          подобных. Банальные, но неопровержимые выводы, а также многие
          известные личности призывают нас к новым свершениям, которые, в свою
          очередь, должны быть представлены в исключительно положительном свете.
        </p>
      </section>
      <hr id="1" />
      <section class="faqOpen" id="1">
        <p id="1">
          <b id="1"
            >У меня есть свой проект. Сможем ли мы его доработать /
            реализовать?</b
          >
        </p>
        <button id="1">
          <img id="1" alt="open-img" src="../img/svg/open-btn.svg" />
        </button>
      </section>
      <section class="open-text" id="1">
        <p>
          Являясь всего лишь частью общей картины, непосредственные участники
          технического прогресса призывают нас  к новым свершениям, которые,
          в свою очередь, должны быть своевременно верифицированы.
          Но высококачественный прототип будущего проекта является качественно
          новой ступенью первоочередных требований. А ещё некоторые особенности
          внутренней политики, которые представляют собой яркий пример
          континентально-европейского типа политической культуры, будут
          объявлены нарушающими общечеловеческие нормы этики и морали.
          И нет сомнений, что явные признаки победы институционализации
          призывают нас к новым свершениям, которые, в свою очередь, должны быть
          указаны как претенденты на роль ключевых факторов.
        </p>
        <p>
          Приятно, граждане, наблюдать, как некоторые особенности внутренней
          политики могут быть призваны к ответу. Явные признаки победы
          институционализации набирают популярность среди определённых слоёв
          населения, а значит, должны быть объединены в целые кластеры себе
          подобных. Банальные, но неопровержимые выводы, а также многие
          известные личности призывают нас к новым свершениям, которые, в свою
          очередь, должны быть представлены в исключительно положительном свете.
        </p>
      </section>
      <hr id="2" />
      <section class="faqOpen" id="2">
        <p id="2">
          <b id="2">Я выбираю между разными компаниями. В чём ваше отличие?</b>
        </p>
        <button id="2">
          <img id="2" alt="open-img" src="../img/svg/open-btn.svg" />
        </button>
      </section>
      <section class="open-text" id="2">
        <p>
          Являясь всего лишь частью общей картины, непосредственные участники
          технического прогресса призывают нас  к новым свершениям, которые,
          в свою очередь, должны быть своевременно верифицированы.
          Но высококачественный прототип будущего проекта является качественно
          новой ступенью первоочередных требований. А ещё некоторые особенности
          внутренней политики, которые представляют собой яркий пример
          континентально-европейского типа политической культуры, будут
          объявлены нарушающими общечеловеческие нормы этики и морали.
          И нет сомнений, что явные признаки победы институционализации
          призывают нас к новым свершениям, которые, в свою очередь, должны быть
          указаны как претенденты на роль ключевых факторов.
        </p>
        <p>
          Приятно, граждане, наблюдать, как некоторые особенности внутренней
          политики могут быть призваны к ответу. Явные признаки победы
          институционализации набирают популярность среди определённых слоёв
          населения, а значит, должны быть объединены в целые кластеры себе
          подобных. Банальные, но неопровержимые выводы, а также многие
          известные личности призывают нас к новым свершениям, которые, в свою
          очередь, должны быть представлены в исключительно положительном свете.
        </p>
      </section>
      <hr id="3" />
      <section class="faqOpen" id="3">
        <p id="3">
          <b id="3"
            >Могу ли я делегировать вам работу / согласование с подрядчиком /
            организацией?</b
          >
        </p>
        <button id="3">
          <img id="3" alt="open-img" src="../img/svg/open-btn.svg" />
        </button>
      </section>
      <section class="open-text" id="3">
        <p>
          Являясь всего лишь частью общей картины, непосредственные участники
          технического прогресса призывают нас  к новым свершениям, которые,
          в свою очередь, должны быть своевременно верифицированы.
          Но высококачественный прототип будущего проекта является качественно
          новой ступенью первоочередных требований. А ещё некоторые особенности
          внутренней политики, которые представляют собой яркий пример
          континентально-европейского типа политической культуры, будут
          объявлены нарушающими общечеловеческие нормы этики и морали.
          И нет сомнений, что явные признаки победы институционализации
          призывают нас к новым свершениям, которые, в свою очередь, должны быть
          указаны как претенденты на роль ключевых факторов.
        </p>
        <p>
          Приятно, граждане, наблюдать, как некоторые особенности внутренней
          политики могут быть призваны к ответу. Явные признаки победы
          институционализации набирают популярность среди определённых слоёв
          населения, а значит, должны быть объединены в целые кластеры себе
          подобных. Банальные, но неопровержимые выводы, а также многие
          известные личности призывают нас к новым свершениям, которые, в свою
          очередь, должны быть представлены в исключительно положительном свете.
        </p>
      </section>
      <hr id="4" />
      <section class="faqOpen" id="4">
        <p id="4">
          <b id="4">Могу ли я вернуть деньги на каком-либо из этапов работ?</b>
        </p>
        <button id="4">
          <img id="4" alt="open-img" src="../img/svg/open-btn.svg" />
        </button>
      </section>
      <section class="open-text" id="4">
        <p>
          Являясь всего лишь частью общей картины, непосредственные участники
          технического прогресса призывают нас  к новым свершениям, которые,
          в свою очередь, должны быть своевременно верифицированы.
          Но высококачественный прототип будущего проекта является качественно
          новой ступенью первоочередных требований. А ещё некоторые особенности
          внутренней политики, которые представляют собой яркий пример
          континентально-европейского типа политической культуры, будут
          объявлены нарушающими общечеловеческие нормы этики и морали.
          И нет сомнений, что явные признаки победы институционализации
          призывают нас к новым свершениям, которые, в свою очередь, должны быть
          указаны как претенденты на роль ключевых факторов.
        </p>
        <p>
          Приятно, граждане, наблюдать, как некоторые особенности внутренней
          политики могут быть призваны к ответу. Явные признаки победы
          институционализации набирают популярность среди определённых слоёв
          населения, а значит, должны быть объединены в целые кластеры себе
          подобных. Банальные, но неопровержимые выводы, а также многие
          известные личности призывают нас к новым свершениям, которые, в свою
          очередь, должны быть представлены в исключительно положительном свете.
        </p>
      </section>
      <hr id="5" />
    </div>
  </div>
</section>
