.faq {
  margin-top: 111px;
  margin-bottom: 100px;
  .container {
    h2 {
      font-weight: 400;
      font-size: 48px;
      line-height: 59px;
    }
    .faqList {
      margin-top: 32px;
      hr {
        height: 1px;
        background: #cacaca;
        transition-duration: 0.1s;
        border: none;
      }

      .hr-hover {
        background: #ff9900;
      }

      .faqOpen {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 110px;
        b {
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          transition-duration: 0.1s;
        }

        .b-hover {
          color: #ff9900;
        }

        button {
          border: none;
          background: none;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .open-btn-active {
          transform: rotate(45deg);
        }
      }

      .faq-active {
        b {
          color: #ff9900;
        }
      }

      .open-text {
        display: none;
      }

      .open-text-active {
        display: block;
        width: 98%;
        margin-bottom: 32px;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .faq {
    .container {
      .faqList {
        .faqOpen {
          b {
            font-weight: 700;
            font-size: 20px;
            line-height: 32px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .faq {
    margin-top: 60px;
    margin-bottom: 111px;
    .container {
      .faqList {
        .faqOpen {
          p {
            width: 570px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .faq {
    margin-bottom: 60px;
    .container {
      h2 {
        font-size: 24px;
        line-height: 29px;
      }
      .faqList {
        .open-text {
          font-size: 14px;
          line-height: 28px;
        }
        .faqOpen {
          b {
            width: 237px;
            font-size: 14px;
            line-height: 24px;
          }
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
