<section class="hero">
  <div class="form-popup">
    <div class="form-popup-content">
      <button class="form-popup-remove">╳</button>
      <section class="footerForm">
        <form class="form" action="./">
          <h2>Оставить заявку</h2>
          <input
            class="_req"
            placeholder="Фамилия, имя и отчество*"
            type="text"
          />
          <input class="_req" placeholder="Email*" type="text" />
          <textarea class="_req" placeholder="Сообщение"></textarea>
          <div class="getForm">
            <button>Отправить данные</button>
            <label class="check">
              <input class="checkbox" type="checkbox" />
              <div class="fake"></div>
              <p>Согласен на обработку данных</p>
            </label>
          </div>
        </form>
      </section>
    </div>
  </div>
  <div class="container">
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" id="first-slide">
          <h1>Проектные решения любой сложности</h1>
          <p>
            Есть над чем задуматься: базовые сценарии поведения пользователей
            и по сей день остаются уделом проектантов
          </p>
          <a> <button class="open-from-popup">Заказать расчёт</button></a>
        </div>
        <div class="swiper-slide" id="second-slide">
          <h1>Проектные решения любой сложности</h1>
          <p>
            Есть над чем задуматься: базовые сценарии поведения пользователей
            и по сей день остаются уделом проектантов
          </p>
          <a> <button class="open-from-popup">Заказать расчёт</button></a>
        </div>
        <div class="swiper-slide" id="third-slide">
          <h1>Проектные решения любой сложности</h1>
          <p>
            Есть над чем задуматься: базовые сценарии поведения пользователей
            и по сей день остаются уделом проектантов
          </p>
          <a> <button class="open-from-popup">Заказать расчёт</button></a>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
