<section class="about">
  <div class="container">
    <h2 class="aboutTitle">О нас</h2>
    <p class="aboutText">
      Также как перспективное планирование создаёт необходимость включения
      в производственный план целого ряда внеочередных мероприятий с учётом
      комплекса экспериментов, поражающих по своей масштабности и грандиозности.
      А также диаграммы связей могут быть описаны максимально подробно.
      Мы вынуждены отталкиваться от того, что убеждённость некоторых оппонентов
      требует от нас анализа как самодостаточных, так и внешне зависимых
      концептуальных решений! Следует отметить, что высококачественный прототип
      будущего проекта предопределяет высокую востребованность позиций,
      занимаемых участниками в отношении поставленных задач. Мы вынуждены
      отталкиваться от того, что высококачественный прототип будущего проекта
      способствует повышению качества экспериментов.
    </p>
    <div class="aboutContent">
      <section class="aboutBlock">
        <div class="aboutBot">
          <p>
            Принимая во внимание показатели успешности, перспективное
            планирование способствует подготовке и реализации новых принципов
          </p>
          <button>Подробнее</button>
        </div>
      </section>
      <section class="mobileText">
        <p>
          Принимая во внимание показатели успешности, перспективное планирование
          способствует подготовке и реализации новых принципов
        </p>
        <button>Подробнее</button>
      </section>
      <aside class="aboutRight">
        <section class="aboutItem">
          <img alt="about-first" src="../img/svg/about-first.svg" />
          <div>
            <h3>Консультация с широким активом</h3>
            <p>
              А также свежий взгляд на привычные вещи — безусловно открывает
              новые горизонты для как самодостаточных, так и внешне зависимых
              концептуальных решений
            </p>
          </div>
        </section>
        <section class="aboutItem">
          <img alt="about-second" src="../img/svg/about-second.svg" />
          <div>
            <h3>В своём стремлении повысить</h3>
            <p>
              Качество жизни, они забывают, что сплочённость команды
              профессионалов представляет собой интересный эксперимент проверки
              прогресса профессионального сообщества
            </p>
          </div>
        </section>
      </aside>
    </div>
  </div>
</section>
