<header class="header">
  <div class="container">
    <section class="search-block">
      <input placeholder="Что будем искать?" />
      <button class="search-start">
        <img alt="search-icon" src="../img/svg/search-active.svg" />
      </button>
      <button class="search-close">
        <img alt="search-close" src="../img/svg/search-close.svg" />
      </button>
    </section>
    <aside class="burger">
      <button class="burger-remove">
        <img alt="burger-remove" src="../img/svg/burger-remove.svg" />
      </button>
      <nav class="burger-nav">
        <ul>
          <li>
            <a href="./">О нас</a>
          </li>
          <li>
            <a href="./">Проекты</a>
          </li>
          <li>
            <a href="./">Этапы</a>
          </li>
          <li>
            <a href="./">Отзывы</a>
          </li>
          <li>
            <a href="./">Контакты</a>
          </li>
        </ul>
      </nav>
    </aside>
    <button class="burger-logo">
      <img alt="burger-logo" src="../img/svg/burger-logo.svg" />
    </button>

    <img alt="header-logo" class="header-logo" src="../img/svg/head-logo.svg" />
    <button class="search-icon">
      <img alt="search icon" src="../img/svg/icon-search.svg" />
    </button>

    <nav class="nav-def">
      <ul>
        <li><a href="./">О нас</a></li>
        <li><a href="./">Проекты</a></li>
        <li><a href="./">Этапы</a></li>
        <li><a href="./">Отзывы</a></li>
        <li><a href="./">Контакты</a></li>
      </ul>
    </nav>
  </div>
</header>
