<footer class="footer">
  <div class="container">
    <section class="leftFooter">
      <nav class="navFooter">
        <img alt="foot-logo" src="../img/svg/foot-logo.svg" />
        <ul class="footerLinks">
          <li><a>О нас</a></li>
          <li><a>Проекты</a></li>
          <li><a>Отзывы</a></li>
          <li><a>Договор оферты</a></li>
          <li><a>Договор подряда</a></li>
          <li><a>Конфиденциальность</a></li>
          <li><a>Партнёрское соглашение</a></li>
        </ul>
      </nav>
      <section class="contact">
        <a><img alt="ok" src="../img/svg/ok.svg" /></a>
        <a><img alt="vk" src="../img/svg/vk.svg" /></a>
      </section>
    </section>
    <section class="rightFooter">
      <p>
        Высокий уровень вовлечения представителей целевой аудитории является
        чётким доказательством простого факта: разбавленное изрядной долей
        эмпатии, рациональное мышление позволяет оценить значение модели
        развития. Таким образом, консультация с широким активом обеспечивает
        широкому кругу (специалистов) участие в формировании стандартных
        подходов.
      </p>
    </section>
    <hr class="mobile-line" />
    <section class="footerForm">
      <form class="form" action="./">
        <h2>Оставить заявку</h2>
        <input
          class="_req"
          placeholder="Фамилия, имя и отчество*"
          type="text"
        />
        <input class="_req" placeholder="Email*" type="text" />
        <textarea class="_req" placeholder="Сообщение"></textarea>
        <div class="getForm">
          <button>Отправить данные</button>
          <label class="check">
            <input class="checkbox" type="checkbox" />
            <div class="fake"></div>
            <p>Согласен на обработку данных</p>
          </label>
        </div>
      </form>
    </section>
  </div>
</footer>
