<section class="how">
  <div class="container">
    <h2 class="howTitle">Как мы работаем</h2>
    <div class="howSteps">
      <p class="choisenStep step" id="1">Шаг 1</p>
      <p class="step" id="2">Шаг 2</p>
      <p class="step" id="3">Шаг 3</p>
      <p class="step" id="4">Шаг 4</p>
    </div>
    <div class="howContent">
      <section class="howLeft">
        <h2>Проводим консультацию</h2>
        <p>
          Влечёт за собой процесс внедрения и модернизации приоритизации разума
          над эмоциями. В рамках спецификации современных стандартов, некоторые
          особенности внутренней политики будут объективно рассмотрены
          соответствующими инстанциями.
          <br />
          А также представители современных социальных резервов, инициированные
          исключительно синтетически, ограничены исключительно образом мышления.
          Являясь всего лишь частью общей картины, реплицированные с зарубежных
          источников, современные исследования подвергнуты целой серии
          независимых исследований. Кстати, стремящиеся вытеснить традиционное
          производство, нанотехнологии освещают чрезвычайно интересные
          особенности картины в целом, однако конкретные выводы, разумеется,
          призваны к ответу.
        </p>
        <div class="howBtns">
          <button class="primal">Подробнее</button>
          <button class="border">Договор</button>
        </div>
      </section>
      <section class="howRight"></section>
    </div>
  </div>
</section>
